<% layout('layout') -%>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="page-header"><%=campground.name %></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				
			</div>
			<div class="col-md-6">
				<div class="thumbnail">
					<img class="img-responsive" src="<%= campground.cover %>" alt="<%= campground.name %>">
				</div>
			</div>
			<div class="col-md-3">
				
			</div>
		</div>
	</div>
</section>